<section class="content-center">
  <md-card class="auth-card">
    <md-card-title>
      Login
    </md-card-title>

    <md-card-content>
      <form>
        <div class="flex-row">
          <md-form-field>
            <input mdInput placeholder="Login">
          </md-form-field>
        </div>

        <div class="flex-row">
          <md-form-field>
            <input mdInput type="password" placeholder="Password">
          </md-form-field>
        </div>
      </form>
    </md-card-content>

    <md-card-actions>
      <button md-button class="mat-button" routerLink="/auth/password/reset">
        Forgot Password
      </button>
      <span class="spacer"></span>
      <button md-button class="mat-raised-button mat-primary" routerLink="/auth/password/change">
        Log In
      </button>
    </md-card-actions>

  </md-card>
</section>
