<md-card>
  <md-card-title>
    Password Change
  </md-card-title>

  <md-card-content>
    <form>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <md-form-field>
              <input mdInput type="password" placeholder="New Password">
            </md-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <md-form-field>
              <input mdInput type="password" placeholder="Confirm Password">
            </md-form-field>
          </td>
        </tr>
      </table>
    </form>
  </md-card-content>

  <md-card-actions>
    <span class="spacer"></span>
    <button md-button class="mat-raised-button mat-primary" routerLink="/">
      Change password
    </button>
  </md-card-actions>

</md-card>
