<section>

  <md-card class="user-list-card">
    <md-card-header>
      <h1>
        <md-icon mdListIcon>assignment_ind</md-icon>
        <span>Patients</span>
      </h1>
    </md-card-header>

    <div class="table-head-controls">
      <md-form-field floatPlaceholder="never">
        <input mdInput #filter placeholder="Filter staff">
      </md-form-field>
      <span class="spacer"></span>
      <button md-button class="mat-raised-button mat-primary" routerLink="/patients/new">
        Add Patient
      </button>
    </div>


    <md-card-content>
      <md-table #table [dataSource]="dataSource">

        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>

        <ng-container mdColumnDef="name">
          <md-header-cell *mdHeaderCellDef>Name</md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.name}}</md-cell>
        </ng-container>

        <ng-container mdColumnDef="bloodPressure">
          <md-header-cell *mdHeaderCellDef>Blood Pressure</md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.bloodPressure}}</md-cell>
        </ng-container>

        <ng-container mdColumnDef="heartRate">
          <md-header-cell *mdHeaderCellDef>Heart Rate</md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.heartRate}}</md-cell>
        </ng-container>

        <ng-container mdColumnDef="weight">
          <md-header-cell *mdHeaderCellDef>Weight</md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.weight}}</md-cell>
        </ng-container>

        <ng-container mdColumnDef="oxygenLevel">
          <md-header-cell *mdHeaderCellDef>Oxygen Level</md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.oxygenLevel}}</md-cell>
        </ng-container>

        <ng-container mdColumnDef="lastAlert">
          <md-header-cell *mdHeaderCellDef>Last Alert</md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.lastAlert}}</md-cell>
        </ng-container>

        <ng-container mdColumnDef="batteryLevel">
          <md-header-cell *mdHeaderCellDef>Battery Level</md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.batteryLevel}}</md-cell>
        </ng-container>

        <ng-container mdColumnDef="currentDeviceLocation">
          <md-header-cell *mdHeaderCellDef>Current Device Location</md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.currentDeviceLocation}}</md-cell>
        </ng-container>

        <ng-container mdColumnDef="isActive">
          <md-header-cell *mdHeaderCellDef>Active</md-header-cell>
          <md-cell *mdCellDef="let element">
            <md-checkbox [checked]="element.isActive" [disabled]="true"></md-checkbox>
          </md-cell>
        </ng-container>

        <ng-container mdColumnDef="action">
          <md-header-cell *mdHeaderCellDef></md-header-cell>
          <md-cell *mdCellDef="let element">
            <button md-button >{{ element.isActive ?'Activate':'Deactivate' }}</button>
          </md-cell>
        </ng-container>

      </md-table>

      <md-paginator [length]="100"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
      </md-paginator>

    </md-card-content>
    <md-card-actions>

    </md-card-actions>
  </md-card>

</section>
