<section class="content-center">
  <md-card class="auth-card">
    <md-card-title>
      Password Reset
    </md-card-title>

    <md-card-content>

      <div class="flex-row">
        Please enter your e-mail in the field below,
      </div>
      <div class="flex-row">
        so we can send a recovery link to it.
      </div>

      <div class="flex-row">
        <md-form-field>
          <input mdInput placeholder="E-Mail">
          <md-icon mdSuffix>email</md-icon>
        </md-form-field>
      </div>
    </md-card-content>

    <md-card-actions>
      <span class="spacer"></span>
      <button md-button class="mat-raised-button mat-primary" routerLink="/login">
        Send
      </button>
    </md-card-actions>

  </md-card>
</section>
