<section>

  <md-card class="user-list-card">
    <md-card-header>
      <h1>Staff List</h1>
    </md-card-header>

    <div class="table-head-controls">
      <md-form-field floatPlaceholder="never">
        <input mdInput #filter placeholder="Filter staff">
      </md-form-field>
      <span class="spacer"></span>
      <button md-button class="mat-raised-button mat-primary" routerLink="/users/new">
        Add Staff
      </button>
    </div>


    <md-card-content>
      <md-table #table [dataSource]="dataSource">

        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>

        <ng-container mdColumnDef="name">
          <md-header-cell *mdHeaderCellDef>Name</md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.name}}</md-cell>
        </ng-container>

        <ng-container mdColumnDef="role">
          <md-header-cell *mdHeaderCellDef>Role</md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.role}}</md-cell>
        </ng-container>

        <ng-container mdColumnDef="email">
          <md-header-cell *mdHeaderCellDef>E-Mail</md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.email}}</md-cell>
        </ng-container>

        <ng-container mdColumnDef="phone">
          <md-header-cell *mdHeaderCellDef>Phone</md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.phone}}</md-cell>
        </ng-container>

        <ng-container mdColumnDef="branch">
          <md-header-cell *mdHeaderCellDef>Branch</md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.branch}}</md-cell>
        </ng-container>

        <ng-container mdColumnDef="facility">
          <md-header-cell *mdHeaderCellDef>Facility</md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.facility}}</md-cell>
        </ng-container>

        <ng-container mdColumnDef="active">
          <md-header-cell *mdHeaderCellDef>Active</md-header-cell>
          <md-cell *mdCellDef="let element">
            <md-checkbox [checked]="element.active" [disabled]="true"></md-checkbox>
          </md-cell>
        </ng-container>

        <ng-container mdColumnDef="action">
          <md-header-cell *mdHeaderCellDef></md-header-cell>
          <md-cell *mdCellDef="let element">
            <button md-button>{{ element.active?'Activate':'Deactivate' }}</button>
          </md-cell>
        </ng-container>

      </md-table>

      <md-paginator [length]="100"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
      </md-paginator>

    </md-card-content>
    <md-card-actions>

    </md-card-actions>
  </md-card>

</section>
