<section>
  <md-card class="user-list-card ">

    <md-card-title>
      Alert Settings
    </md-card-title>

    <md-card-content class="example-full-width">


          <div class="select">
            <md-select placeholder="Staff">
              <md-option *ngFor="let item of users" [value]="item">
                {{ item }}
              </md-option>
            </md-select>
          </div>


      <div class="multicol">
          <div class="select">
            <span>Providers</span>
            <md-selection-list>
              <md-list-option *ngFor="let item of alertProviders">
                {{item}}
              </md-list-option>
            </md-selection-list>
          </div>

          <div class="select">
            <span>Pendant Event Types</span>
            <md-selection-list>
              <md-list-option *ngFor="let item of pendantEventTypes">
                {{item}}
              </md-list-option>
            </md-selection-list>
          </div>
      </div>

          <md-radio-group class="fdc">
            <md-radio-button checked="true">All Patient</md-radio-button>
            <md-radio-button value="1" class="multicol">
              <md-select placeholder="Branch">
                <md-option *ngFor="let item of branches" [value]="item">
                  {{ item }}
                </md-option>
              </md-select>
              <md-select placeholder="Facility">
                <md-option *ngFor="let item of facilities" [value]="item">
                  {{ item }}
                </md-option>
              </md-select>
            </md-radio-button>

            <md-radio-button value="2" >

              <div class="multicol">
              <md-select placeholder="Patient">
                <md-option *ngFor="let item of selectedPatients" [value]="item">
                  {{ item }}
                </md-option>
              </md-select>

                <md-chip-list #chipList1 class="aic">
                  <md-chip  *ngFor="let person of patients"
                            [removable]="true" >
                    {{person}}
                    <md-icon mdChipRemove>cancel</md-icon>
                  </md-chip>
                </md-chip-list>
              </div>

            </md-radio-button>
          </md-radio-group>


    </md-card-content>


    <md-card-actions>
      <span class="spacer"></span>
      <button md-button routerLink="/alerts">Cancel</button>
      <button md-button class="mat-raised-button mat-primary" routerLink="/alerts">
        Save
      </button>
    </md-card-actions>

  </md-card>

</section>
