<section class="content-center">
  <md-card class="auth-card">
    <md-card-title>
      Password Change
    </md-card-title>

    <md-card-content>
      <form>
        <div class="flex-row">
          <md-form-field>
            <input mdInput type="password" placeholder="New Password">
          </md-form-field>
        </div>
        <div class="flex-row">
          <md-form-field>
            <input mdInput type="password" placeholder="Confirm Password">
          </md-form-field>
        </div>
      </form>
    </md-card-content>

    <md-card-actions>
      <span class="spacer"></span>
      <button md-button class="mat-raised-button mat-primary" routerLink="/auth/login">
        Change password
      </button>
    </md-card-actions>

  </md-card>
</section>
