section {
  width: 100%;

  display: flex;
  justify-content: center;

  flex-direction: row;
}

@media screen and (max-width: 800px) {
  section{
    flex-direction: column;
  }
}

md-card{
  margin: 16px;
  width: fit-content;
}

form{
  max-width: 420px;
}

td{
  padding: 10px;
}

md-card-actions {
  display: flex;
}

md-form-field{
  width: 100%;
}

.example-full-width {
  width: 100%;
}

md-select{
  width: 100%;
}
