/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0px;
  height: 100vh;
}

.content-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
}

h1 {
  display: flex;
  align-items: center;
}

md-card {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;

  margin: 16px;
}

md-card > md-card-actions {
  display: flex !important;
  padding-bottom: 4px !important;
}

md-cell {
  display: flex;
}

.table-head-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-row .mat-form-field {
  width: initial;
}

.flex-row > * {
  flex: 1 1 100px;
  padding: 10px;
}

.flex-row > .x2 {
  flex: 2 2 100px;
}

.flex-row > .x3 {
  flex: 3 3 100px;
}

.flex-row > .x05 {
  flex: 0.5 0.5 100px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.col-6 {
  flex: 1 1 auto;
  padding: 10px;
}

.auth-card {
  width: 400px;
  height: 300px;
}
