/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0px;
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

h1 {
  display: flex;
  align-items: center;
}

md-card {
  margin: 16px;
}

md-card > md-card-actions {
  display: flex !important;
}

md-cell {
  display: flex;
}

.table-head-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-row > * {
  /*flex: 1 1 auto;*/
  flex: 1 1 200px;
  padding: 10px;
}

.col-6 {
  flex: 1 1 auto;
  padding: 10px;
}
